// vars

$back-color: #001221;
$grey-color: #a5a5a5;
$red-color: #de1a1a;
$green-color: #008000;

$small-border: 3px solid;
$big-border: 8px solid;

$box-shadow: 0 0 7px 3px;

$transition: all .3s ease;