doctype html
html
    head 
        title OGR
        meta(charset="utf-8")
        meta(name="viewport", content="initial-scale=1.0", width="device-width")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", type="text/css", href="css/pong.css")
    body
        div.main
            header
                h1.header-title PONG
                div.header-scoreboard
                    div.header-scores
                        span.score-left 0 
                        : 
                        span.score-right 0
            section.main-field
                canvas#pong Ваш браузер не поддерживает API Canvas :c. Настоятельно рекомендую обновить браузер
                div.field-win
                    h2.win-title Победа! 
                    span.win-desc Поздравляем вас! Вы настоящий гуру понга :)
            footer 
                button.btns.btn-yes.btn-go(onclick="init();") Начать игру
                button.btns.btn-no(onclick="stop();") Стоп
        script(type="text/javascript", src="pong.js")